#response{
    text-align: center;
    margin: 0 auto;
}
p{
    margin: auto;
    text-align: center;
}
body{
    background-color:rgb(255, 167, 4);
    background-image: url('kaas.png');
    background-repeat: repeat-y;
    background-size:cover;
    font-size: 65px;
    font-family: 'JI Swiss Cheese';
    font-style: italic;
}

button{
    font-size: 65px;
    font-family: 'JI Swiss Cheese';
    font-style: italic;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
}